.mb-4 {
    margin: 50px!important;
}

.label {
    color: #f5a5b9!important;
    font-size: 12px!important;
}

.white-text {
    color: white!important;
}

h4 {
    color: #f5a5b9!important;
}

.btn-pad {
    margin-bottom: 100px!important;
}

