img.img-fluid {
    padding-bottom: 10px!important;
}

h2 {
    font-size: 24px!important;
    color: #f5a5b9
}

div.col-md-4.mb-3 {
    padding-top: 30px!important;
    padding-right: 35px!important;
    padding-left: 35px!important;
}

.col-lg-5 {
    padding-left: 35px!important;

}

.col-lg-6 {
    padding-left: 35px!important;

}