.jumbotron {
    background-color: white!important;
    height: 100vh!important;
    padding-bottom:0px!important;
  }

  .container {
    position: relative;
    top: 60%;
    transform: translateY(-55%);
  }

  .fab {
   color: #ffffff!important;
   font-size: 30px;
  }

